
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@using BuildCompleteEcommerceWithASPNETCoreMVC.Models;


<div class="well well-small">
    <h4>Featured Products <small class="pull-right">@(ViewBag.CountFeaturedProducts)+ featured products</small></h4>
    <div class="row-fluid">
        <div id="featured" class="carousel slide">
            <div class="carousel-inner">
               
                @*<div class="item active">
                    <ul class="thumbnails">*@
                        @{ int count = 0;}
                        @for (var i = 0; i < ViewBag.FeaturedProducts.Count; i++)
                        { 
                            <div class="item @(i == 0 ? "active" : "") ">
                                <ul class="thumbnails">
                                    @while (count < 4 && i < ViewBag.FeaturedProducts.Count)
                                    {
                                        Product product = (Product)ViewBag.FeaturedProducts[i];
                                        Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);

                                        var photoName = photo == null ? "no-image.jpg" : photo.Name;
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <a asp-controller="product"
                                                   asp-action="details"
                                                   asp-route-id="@product.Id">
                                                    <img src="~/product/@photoName" alt="">
                                                </a>
                                                <div class="caption">
                                                    <h5>@product.Name</h5>
                                                    <h4>
                                                        <a class="btn"
                                                           asp-controller="product"
                                                           asp-action="details"
                                                           asp-route-id="@product.Id">VIEW</a>
                                                        <span class="pull-right">$@product.Price</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        count++;
                                        i++;
                                    }
                                </ul>
                            </div>
                            count=0;
                            i--;
                        }
                        @*@foreach (var featuredProduct in ViewBag.FeaturedProducts)
                        {
                            Product product = (Product)featuredProduct;
                            Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);

                            var photoName = photo == null ? "no-image.jpg" : photo.Name;

                                <li class="span3">
                                    <div class="thumbnail">
                                        <a asp-controller="product"
                                           asp-action="details"
                                           asp-route-id="@featuredProduct.Id">
                                            <img src="~/product/@photoName" alt="">
                                        </a>
                                        <div class="caption">
                                            <h5>@featuredProduct.Name</h5>
                                            <h4>
                                                <a class="btn"
                                                   asp-controller="product"
                                                   asp-action="details"
                                                   asp-route-id="@featuredProduct.Id">VIEW</a>
                                                <span class="pull-right">$@featuredProduct.Price</span>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                }

                            </ul>
                        </div>*@
            </div>
            <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
    </div>
</div>
<h4>Latest Products</h4>
<ul class="thumbnails">
    @foreach (var product in ViewBag.LatestProducts)
    {
        Product productInfo = (Product)product;
        Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);

        var photoName = photo == null ? "no-image.jpg" : photo.Name;
        <li class="span3">
            <div class="thumbnail">
                <a asp-controller="product"
                   asp-action="details"
                   asp-route-id="@product.Id">
                    <img src="~/product/@photo.Name">
                </a>
                <div class="caption">
                    <h5>@productInfo.Name</h5>
                    <p>
                        @productInfo.Description
                    </p>

                    <h4 style="text-align:center">
                        <a class="btn"
                           asp-controller="product"
                           asp-action="details"
                           asp-route-id="@product.Id">
                            <i class="icon-zoom-in"></i>
                        </a>
                        <a class="btn" href="#">
                            Add to
                            <i class="icon-shopping-cart"></i>
                        </a>
                        <a class="btn btn-primary" href="#">$@productInfo.Price</a>
                    </h4>
                </div>
            </div>
        </li>
    }


</ul>


