@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Customers List
    </h1>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer List</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="customersListTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in ViewBag.Customers)
                            {
                                <tr>
                                    <td>@customer.Id</td>
                                    <td>@customer.Username</td>
                                    <td>@customer.FullName</td>
                                    <td>@customer.Email</td>
                                    <td>
                                        @(customer.Status ? "Active":"Inactive")
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <a asp-area="admin"
                                           asp-controller="customer"
                                           asp-action="edit"
                                           asp-route-id="@customer.Id" >
                                            Edit
                                        </a>
                                        <span> | </span>
                                        <a asp-area="admin"
                                           asp-controller="customer"
                                           asp-action="delete"
                                           asp-route-id="@customer.Id"
                                           onclick="return confirm('Are you sure?')">
                                            Delete
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script>
    $(function () {
        $('#customersListTable').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>